h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
}
.first-section{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    padding: 5%;
}
.first-section img{
    height: 95%;
    width: 95%;
}

.orange{
    color:red;
}
.half-width{
    width: 50%;
    margin: 40px 10px 20px 10px;
    border: 15px 25px white;
}
h2{
    font-size: 40PX;
    color:blueviolet;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}
p{
    font-size: 22px;
    font-weight: 500px;
}
.second-section{
   background-image: url(images/shapes/7.png);
   background-repeat: no-repeat;
   padding: 40px;
}
.second-section img{
    height: 65%;
    width: 45%;
    padding: 105px;
}
h3{
    text-align: center;
    font-size: 30px;
}
#recipe{
    text-align: center;
}
.box-style{
    box-shadow: 15px 15px 25px grey;
    width:  60%;
    height: 70%;
    display: half-width;
    margin: 2%;
    border:px solid white;
    border-radius: 35px;
}
.box-style img{
    width: 95%;
    height: 80%;
    padding: 5px;
}
footer p{
    text-align: center;
    font-size: 18;
}